.RightTopBar {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 1rem);
  margin-left: 0.5rem;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;

  h2 {
    font-size: 1.25rem;
  }
}